In [3]:
import json

## SQuAD2.0 Dev set

In [9]:
dev = json.load(open("../data/squad/dev-v2.0.json", 'rb'))

There are 35 Wikipedia article's worth of paragraphs in the dev set of SQuAD2.0

In [10]:
len(dev['data'])

35

The first Wikipedia article, titled "Normans," has 39 paragraphs

In [11]:
print(dev['data'][0]['title'])
print(len(dev['data'][0]['paragraphs']))

Normans
39

There are 208 questions related to the paragraphs of the Normans Wikipedia article

In [12]:
count = 0
for p in dev['data'][0]['paragraphs']:
    for q in p['qas']:
        count += 1
print(count)

208

## SQuAD2.0 Train set

In [13]:
train = json.load(open("../data/squad/train-v2.0.json", 'rb'))

There are 442 Wikipedia articles in the test set

In [14]:
len(train['data'])

442

The first Wikipedia article in the test set is titled "Beyoncé" and contains 66 paragraphs

In [15]:
print(train['data'][0]['title'])
print(len(train['data'][0]['paragraphs']))

Beyoncé
66

That article contains a total of 753 questions.

In [16]:
count = 0
for p in train['data'][0]['paragraphs']:
    for q in p['qas']:
        count += 1
print(count)

753

In [57]:
train_data = {}
total_count = 0
for article in train['data']:
    article_count = 0
    for paragraph in article['paragraphs']:
        for question in paragraph['qas']:
            total_count += 1
            article_count += 1
    train_data[article['title']] = article_count

print(f"Total number of questions in the train set is {total_count}.")

Total number of questions in the train set is 130319.

In [18]:
import pandas as pd

df = pd.DataFrame(data=train_data.items(), columns=['title', 'count'])
df

                                              title  count
0                                           Beyoncé    753
1                                   Frédéric_Chopin    697
2    Sino-Tibetan_relations_during_the_Ming_dynasty    291
3                                              IPod    327
4            The_Legend_of_Zelda:_Twilight_Princess    374
..                                              ...    ...
437                                       Infection    290
438                                         Hunting    531
439                                       Kathmandu    276
440                           Myocardial_infarction    126
441                                          Matter    142

[442 rows x 2 columns]

### Let's make a mini-train
There are no GPUs on the ffl cdsw cluster. Training a model on SQuAD2.0 would thus take for-eh-ver. So we'll make a mini train set to demonstrate the workflow.

In [19]:
df[:10]['count'].sum()

4719

In [20]:
df[:10]

                                            title  count
0                                         Beyoncé    753
1                                 Frédéric_Chopin    697
2  Sino-Tibetan_relations_during_the_Ming_dynasty    291
3                                            IPod    327
4          The_Legend_of_Zelda:_Twilight_Princess    374
5                             Spectre_(2015_film)    462
6                         2008_Sichuan_earthquake    521
7                                   New_York_City    817
8                           To_Kill_a_Mockingbird    228
9                                    Solar_energy    249

In [21]:
mini_train = train['data'][:10]
print(len(mini_train))

10

In [22]:
mini_train = {'data':mini_train}

In [56]:
json.dump(mini_train, open("../data/squad/mini_train-v2.0.json","w"))

## COVID-QA

In [36]:
# I don't understand why this import won't work.
# I can copy/paste the exact func in the cell below and it works just fine. 
# I've tried hunting for missing characters or off indentations and nothing makes sense
from fetch_data import download_covidQA

SyntaxError: invalid syntax (fetch_data.py, line 4)

In [29]:
def download_covidQA():
    !wget -P /home/cdsw/data/covidQA https://github.com/deepset-ai/COVID-QA/raw/master/data/question-answering/COVID-QA.json

In [30]:
download_covidQA()

--2020-09-03 20:44:14--  https://github.com/deepset-ai/COVID-QA/raw/master/data/question-answering/COVID-QA.json
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/deepset-ai/COVID-QA/master/data/question-answering/COVID-QA.json [following]
--2020-09-03 20:44:17--  https://raw.githubusercontent.com/deepset-ai/COVID-QA/master/data/question-answering/COVID-QA.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.40.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.40.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4418117 (4.2M) [text/plain]
Saving to: ‘/home/cdsw/data/covidQA/COVID-QA.json.1’

COVID-QA.json.1     100%[===================>]   4.21M  --.-KB/s    in 0.06s

2020-09-03 20:44:20 (73.3 MB/s) - ‘/home/cdsw/data/covidQA/COVID-QA.json.1’ saved [4418117/4418117]

In [4]:
covid = json.load(open("../data/covidQA/COVID-QA.json","rb"))

There are 147 medical articles in the COVIDQA dataset

In [37]:
len(covid['data'])

147

These articles are NOT split into paragraphs.

In [39]:
len(covid['data'][0]['paragraphs'])

1

Unlike the SQuAD jsons, the articles do not have titles (this makes it challenging to use the original HuggingFace SQuAD scripts)

In [41]:
len(covid['data'][0]['title'])

KeyError: 'title'

However, they do each have a `document_id` but it's just a number.

In [45]:
covid['data'][0]['paragraphs'][0].keys()

dict_keys(['qas', 'context', 'document_id'])

In [46]:
covid['data'][0]['paragraphs'][0]['document_id']

630

Let's look at the number of questions per article

In [54]:
total_count = 0

print("Document ID\tCount")
print("--------------------")
for article in covid['data']:
    article_count = 0
    for question in article['paragraphs'][0]['qas']:
        article_count += 1
        total_count += 1
    print(f"{article['paragraphs'][0]['document_id']}\t\t{article_count}")
print(f"Total number of questions in the covid set is {total_count}.")

Document ID	Count
--------------------
630		11
650		11
1546		5
1545		7
1552		7
1553		11
1557		18
1565		4
641		8
1547		3
187		10
1582		8
1571		29
1585		9
1575		2
2585		2
1556		1
1569		10
1551		8
1594		4
1570		4
1567		2
1563		5
1549		4
1564		4
1560		12
1561		7
1562		2
1573		7
1591		11
1579		9
1583		10
1588		4
1589		2
1554		4
1568		11
1566		8
1548		4
1574		7
1581		3
1593		4
1550		8
1572		10
1576		12
1590		7
1578		7
1580		5
1584		6
1586		4
1587		2
1592		9
1597		5
1598		5
1600		1
1603		3
1606		6
1596		6
1604		18
1599		3
1601		6
1602		4
1605		2
1607		8
1608		2
1632		3
1631		6
1628		14
2439		5
2432		10
1620		8
2437		14
1625		5
1627		3
2440		29
1633		6
1634		3
2466		4
2458		1
1621		4
1629		26
1623		40
2459		27
1663		2
1660		83
1645		28
2461		13
2463		20
1652		14
1656		15
2450		1
1676		12
1661		8
1662		2
1674		44
1666		5
1667		4
1679		11
1671		30
2486		59
1664		7
1730		2
1665		11
1595		15
1684		13
1719		113
1686		21
1687		11
1690		12
1689		60
1688		5
1691		3
1698		35
185		13
186		5
1741		119
2527		3
188		23
2522		1
1714		2
2519		10
1618		4
1722		1
2592		24
2551		2
2555		9
2554		3
1740		13
2526		21
2504		125
2565		9
2683		56
2675		4
2653		6
2652		4
2642		53
2669		45
2628		4
2684		39
2620		16
2634		46
2674		1
2651		2
1559		2
2668		14
2643		26
776		11
1713		5
Total number of questions in the covid set is 2019.

In [ ]:
covid['data'][0]['paragraphs']